/* Fondo y texto */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Título */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    text-align: left;
    list-style-type: square;
    margin: 20px auto;
    padding: 0 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}

/* Footer */
footer {
    margin-top: 30px;
    font-size: 14px;
    color: lightgray;
}
