body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000; /* Fondo negro */
  font-family: Arial, sans-serif;
}

/* Contenedor que centra el login */
.wrapper {
  flex: 1; /* ocupa todo el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #000;
  padding: 20px;
  text-align: center;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 25px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #333;
  border-radius: 6px;
  background: #111;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

input::placeholder {
  color: #777;
}

button {
  width: 100%;
  padding: 12px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
}

button:hover {
  background: #ddd;
}

#error-msg {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

/* Footer siempre abajo */
footer {
  padding: 15px;
  text-align: center;
  font-size: 12px;
  color: #777;
}
