/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y Estilo General */
body {
    background-color: #000; /* Fondo negro */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la pantalla */
    margin: 0;
    color: #fff; /* Letras blancas */
}

/* Est


